previous_versions/v0.14.0/Nodered_modem_as_v0.3.json
[{"id":"b21534c9.9d927","type":"inject","z":"69f71fa.c8f2f6","name":"deveuis","topic":"","payload":"[\"XX-XX-XX-XX-XX-XX-XX-XX\"]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":120,"y":180,"wires":[["36ebb6f6.1e7fd2"]]},{"id":"36ebb6f6.1e7fd2","type":"function","z":"69f71fa.c8f2f6","name":"Set deveuis","func":"flow.set('deveuis', msg.payload);","outputs":1,"noerr":0,"x":310,"y":180,"wires":[[]]},{"id":"2ced77a6.a28a68","type":"inject","z":"69f71fa.c8f2f6","name":"Server url","topic":"","payload":"https://dms.loracloud.com","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":140,"wires":[["a277ad50.5dc68"]]},{"id":"a277ad50.5dc68","type":"function","z":"69f71fa.c8f2f6","name":"Server url","func":"flow.set('url', msg.payload);","outputs":1,"noerr":0,"x":300,"y":140,"wires":[[]]},{"id":"a1b576bb.cb3808","type":"inject","z":"69f71fa.c8f2f6","name":"Server token","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":100,"wires":[["9819d370.7f07c"]]},{"id":"9819d370.7f07c","type":"function","z":"69f71fa.c8f2f6","name":"Server token","func":"flow.set('token', msg.payload);","outputs":1,"noerr":0,"x":310,"y":100,"wires":[[]]},{"id":"da44e862.776668","type":"comment","z":"69f71fa.c8f2f6","name":"_________________________      CONFIG      _________________________","info":"Demo AS code v0.3","x":360,"y":60,"wires":[]},{"id":"cebe3632.d618f","type":"debug","z":"69f71fa.c8f2f6","name":"UPLINK - From DM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":620,"wires":[]},{"id":"1eaca3c2.3e3ba4","type":"mqtt in","z":"69f71fa.c8f2f6","name":"","topic":"+/devices/+/up","qos":"2","datatype":"auto","broker":"b119c735.a2771","x":120,"y":400,"wires":[["7290567a.c585f8"]]},{"id":"7290567a.c585f8","type":"json","z":"69f71fa.c8f2f6","name":"","property":"payload","action":"","pretty":false,"x":310,"y":400,"wires":[["b2393d7.00baa4"]]},{"id":"338fb285.fb97de","type":"function","z":"69f71fa.c8f2f6","name":"Set request","func":"var api = 'api/v1/uplink/send';\nmsg.method = 'post';\n\nmsg.url = `${flow.get('url')}/${api}`;\nmsg.headers = {'Authorization': flow.get('token')};\n\nvar payload = \"\";\nif (msg.payload.port == 200) {\n    msg.payload.payload_raw = msg.payload.payload_raw || \"\";\n    payload = new Buffer(msg.payload.payload_raw, 'base64').toString('hex');\n}\n\nvar devEui = msg.payload.hardware_serial.match( /.{1,2}/g ).join( '-' );\nvar datarate = parseInt(msg.payload.metadata.data_rate\n                    .replace('SF', '')\n                    .replace(\"BW125\", \"\")\n                    .replace(\"BW250\", \"\")\n                    .replace(\"BW500\", \"\")\n                );\n\nmsg.payload = {\n  [devEui]: {\n      \"fcnt\":      msg.payload.counter,   // Required, frame counter\n      \"port\":      msg.payload.port,      // Required, port, must be 200\n      \"payload\":   payload,     // Required, HEX string with valid modem payload\n      \"dr\":        datarate,   // Required, data rate\n      \"freq\":      Math.trunc(parseFloat(msg.payload.metadata.frequency)*1000000),   // Required, frequency\n      \"timestamp\": parseInt(new Date(msg.payload.metadata.time).getTime())/1000,    // Required, timestamp, UTC, float\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":580,"wires":[["7c218463.2f3cf4"]]},{"id":"b2393d7.00baa4","type":"switch","z":"69f71fa.c8f2f6","name":"Switch regarding port","property":"payload.port","propertyType":"msg","rules":[{"t":"eq","v":"102","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":400,"wires":[["9612f506.f6e178","e37e00ed.a2e098"],["1600269a.2b07d1"]]},{"id":"9b495d1e.8ffe5","type":"comment","z":"69f71fa.c8f2f6","name":"_________________________      Network server input      _________________________","info":"","x":400,"y":300,"wires":[]},{"id":"7c218463.2f3cf4","type":"http request","z":"69f71fa.c8f2f6","name":"Query DMS","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"aecea241.d959a","proxy":"","authType":"basic","x":350,"y":580,"wires":[["32a12c20.27346c"]]},{"id":"32a12c20.27346c","type":"json","z":"69f71fa.c8f2f6","name":"","property":"payload","action":"","pretty":false,"x":510,"y":580,"wires":[["e3faef5d.6436a8","cebe3632.d618f"]]},{"id":"e3faef5d.6436a8","type":"link out","z":"69f71fa.c8f2f6","name":"","links":["ad9eb6a9.18a448"],"x":715,"y":580,"wires":[]},{"id":"bc583dcf.64e5d","type":"function","z":"69f71fa.c8f2f6","name":"Send downlink, if any","func":"var downlink = {};\n\nfor (const eui in msg.payload.result) {\n    if ((typeof msg.payload.result[eui].result.dnlink != 'undefined') && (msg.payload.result[eui].result.dnlink !== null)) {\n        var payload = Buffer.from(msg.payload.result[eui].result.dnlink.payload, 'hex');\n        downlink.payload = {\n            'port': msg.payload.result[eui].result.dnlink.port,\n            'confirmed': false,\n            'payload_raw': payload.toString('base64'),\n        }\n        downlink.topic = msg.topic.replace('up', 'down');\n        node.send(downlink);\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":200,"y":660,"wires":[["77a40357.72f63c","d311be97.34471"]]},{"id":"ad9eb6a9.18a448","type":"link in","z":"69f71fa.c8f2f6","name":"Send downlink","links":["e3faef5d.6436a8"],"x":55,"y":660,"wires":[["bc583dcf.64e5d"]]},{"id":"77a40357.72f63c","type":"mqtt out","z":"69f71fa.c8f2f6","name":"","topic":"","qos":"","retain":"","broker":"b119c735.a2771","x":450,"y":660,"wires":[]},{"id":"d311be97.34471","type":"debug","z":"69f71fa.c8f2f6","name":"DOWNLINK","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":720,"wires":[]},{"id":"c5868db2.e552f8","type":"comment","z":"69f71fa.c8f2f6","name":"_________________________      Application example      _________________________","info":"","x":400,"y":789,"wires":[]},{"id":"9f190b15.37b05","type":"comment","z":"69f71fa.c8f2f6","name":"_________________________      Device management server      _________________________","info":"","x":420,"y":520,"wires":[]},{"id":"1600269a.2b07d1","type":"link out","z":"69f71fa.c8f2f6","name":"DM Frame","links":["d3ef0610.4489a"],"x":955,"y":420,"wires":[]},{"id":"d3ef0610.4489a","type":"link in","z":"69f71fa.c8f2f6","name":"","links":["1600269a.2b07d1"],"x":55,"y":580,"wires":[["338fb285.fb97de"]]},{"id":"9612f506.f6e178","type":"link out","z":"69f71fa.c8f2f6","name":"Application","links":["b0aa3a9f.d627a8"],"x":715,"y":340,"wires":[]},{"id":"b0aa3a9f.d627a8","type":"link in","z":"69f71fa.c8f2f6","name":"","links":["9612f506.f6e178"],"x":55,"y":860,"wires":[["ecce93c9.5df06"]]},{"id":"ecce93c9.5df06","type":"function","z":"69f71fa.c8f2f6","name":"Extract temperature","func":"msg.payload = (new Buffer(msg.payload.payload_raw, 'base64'))[0];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":860,"wires":[["eb16bd0a.21d6d8"]]},{"id":"eb16bd0a.21d6d8","type":"ui_chart","z":"69f71fa.c8f2f6","name":"","group":"6ba9a46.8ede5dc","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":860,"wires":[[]]},{"id":"2f5aa135.64f696","type":"inject","z":"69f71fa.c8f2f6","name":"Get devices information","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":980,"wires":[["d07bb380.a1b3c"]]},{"id":"d07bb380.a1b3c","type":"function","z":"69f71fa.c8f2f6","name":"/api/v1/device/info","func":"var api = 'api/v1/device/info';\nmsg.method = 'post';\n\nmsg.url = `${flow.get('url')}/${api}`;\nmsg.headers = {'Authorization': flow.get('token')};\n\nmsg.payload = {\n   'deveuis':  flow.get('deveuis'),\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[["fd4b86ca.22314"]]},{"id":"8a6f8d04.67f64","type":"debug","z":"69f71fa.c8f2f6","name":"device/info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":980,"wires":[]},{"id":"fd4b86ca.22314","type":"http request","z":"69f71fa.c8f2f6","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"aecea241.d959a","proxy":"","authType":"basic","x":550,"y":980,"wires":[["f5395be5.690bd"]]},{"id":"f5395be5.690bd","type":"json","z":"69f71fa.c8f2f6","name":"","property":"payload","action":"","pretty":false,"x":690,"y":980,"wires":[["8a6f8d04.67f64"]]},{"id":"70c1103f.44d79","type":"comment","z":"69f71fa.c8f2f6","name":"_________________________      Direct API calls      _________________________","info":"","x":380,"y":940,"wires":[]},{"id":"87dd3385.22ee88","type":"inject","z":"69f71fa.c8f2f6","name":"Send reset request","topic":"","payload":"[{\"type\":\"RESET\",\"param\":3}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1040,"wires":[["f86bf6cc.f18c88"]]},{"id":"f86bf6cc.f18c88","type":"function","z":"69f71fa.c8f2f6","name":"/api/v1/requests/set","func":"var api = 'api/v1/requests/set';\nmsg.method = 'post';\n\nmsg.url = `${flow.get('url')}/${api}`;\nmsg.headers = {'Authorization': flow.get('token')};\n\nmsg.payload = {\n   'deveuis':  flow.get('deveuis'),\n   'requests': msg.payload,\n   'upcount': 1,\n   'updelay': 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1080,"wires":[["2e55fcca.a47534"]]},{"id":"2f145d43.43cb92","type":"debug","z":"69f71fa.c8f2f6","name":"requests/add","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.result","targetType":"msg","x":850,"y":1080,"wires":[]},{"id":"2e55fcca.a47534","type":"http request","z":"69f71fa.c8f2f6","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"aecea241.d959a","proxy":"","authType":"basic","x":570,"y":1080,"wires":[["a04b3086.50bd08"]]},{"id":"a04b3086.50bd08","type":"json","z":"69f71fa.c8f2f6","name":"","property":"payload","action":"","pretty":false,"x":710,"y":1080,"wires":[["2f145d43.43cb92"]]},{"id":"4fc55986.10f8e8","type":"inject","z":"69f71fa.c8f2f6","name":"Send rejoin request","topic":"","payload":"[{\"type\":\"REJOIN\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1080,"wires":[["f86bf6cc.f18c88"]]},{"id":"ead90a47.3b0488","type":"inject","z":"69f71fa.c8f2f6","name":"Get all info","topic":"","payload":"[{\"type\":\"GETINFO\",\"param\":[\"temp\",\"adrmode\",\"interval\",\"uptime\",\"firmware\",\"deveui\",\"factrst\",\"opmode\",\"rxtime\",\"region\",\"crashlog\",\"session\",\"joineui\",\"charge\",\"signal\",\"voltage\",\"rstcount\",\"status\"]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1120,"wires":[["f86bf6cc.f18c88"]]},{"id":"e37e00ed.a2e098","type":"function","z":"69f71fa.c8f2f6","name":"Remove app payload","func":"delete msg.payload.payload_raw;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":380,"wires":[["1600269a.2b07d1"]]},{"id":"2a622bf6.83243c","type":"comment","z":"69f71fa.c8f2f6","name":"License","info":"--- Revised 3-Clause BSD License ---\nCopyright (C) 2016-2019, SEMTECH (International) AG.\nAll rights reserved.\n\nRedistribution and use in source and binary forms, with or without modification,\nare permitted provided that the following conditions are met:\n\n    * Redistributions of source code must retain the above copyright notice,\n      this list of conditions and the following disclaimer.\n    * Redistributions in binary form must reproduce the above copyright notice,\n      this list of conditions and the following disclaimer in the documentation\n      and/or other materials provided with the distribution.\n    * Neither the name of the copyright holder nor the names of its contributors\n      may be used to endorse or promote products derived from this software\n      without specific prior written permission.\n\nTHIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS \"AS IS\" AND\nANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED\nWARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE\nDISCLAIMED. IN NO EVENT SHALL SEMTECH BE LIABLE FOR ANY DIRECT, INDIRECT,\nINCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT\nLIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR\nPROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF\nLIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE\nOR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF\nADVISED OF THE POSSIBILITY OF SUCH DAMAGE.","x":950,"y":60,"wires":[]},{"id":"b119c735.a2771","type":"mqtt-broker","z":"","name":"Modem","broker":"eu.thethings.network","port":"8883","tls":"e317a541.29ec98","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aecea241.d959a","type":"tls-config","z":"","name":"Mozilla-certificates (No SSL check)","cert":"","key":"","ca":"/data/ca-certificates.crt","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"6ba9a46.8ede5dc","type":"ui_group","z":"","name":"UG_Modem","tab":"642f9e3b.8441a8","disp":true,"width":"6","collapse":false},{"id":"e317a541.29ec98","type":"tls-config","z":"","name":"Mozilla-Certificate","cert":"","key":"","ca":"/data/ca-certificates.crt","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"642f9e3b.8441a8","type":"ui_tab","z":"","name":"UG_Modem","icon":"fa-wifi","disabled":false,"hidden":false}]